<div class="header">
    <h1>Título da página</h1>
</div>



<div class="content">
    {{ apiGreeting }}<br><br>
    <div *ngIf="apiDateTime">{{apiDateTime}}</div><br>
    <form [formGroup]="textForm" (ngSubmit)="onSubmit(textForm.value)">
        <input class='input' type="text" formControlName="text" name='text'><br><br>

        <button class='submit'>Enviar</button>
    </form><br>

    <div *ngIf="text">{{text}}</div>
</div>

<div class="sidebar">
    <a class="active" href="#start">Start</a>
</div>